<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
 
</head>

<body>
    <a href="http://www.facebook.com/share.php?u=http://dc3b370f.ngrok.io/result/1" rel="nofollow" target="_blank">Facebook</a>
    <a href="http://twitter.com/share?url=http://dc3b370f.ngrok.io/result/1&text=動的URLシェア" target="_blank" class="twitter-share-button">
    Tweet
</a>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>

</html>