<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta property="og:title" content="<%- title %>>">
        <meta property="og:description" content="<%- description %>">
        <title>Dummy</title>
    </head>
    <body>
        
    </body>
</html>